@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
   Haslo zostalo wyslane. Prosze <a asp-page="./Login">tu sie zaloguj</a>.
</p>
